[flake8]
ignore =
#         is too complex
          C901,
#	  line break before binary operator
	  W503
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist
max-complexity = 10
max-line-length = 79
